body {
  background-color: #1e212d;
}
.wrapper {
  padding: 0 10%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  color: #faf3e0;
  font-size: 6rem;
  font-weight: normal;
  font-family: "Righteous", cursive;
  text-shadow: 3px 1px 3px #a20a0a;
  margin-top: 1.3rem;
}
button {
  width: 200px;
  height: 60px;
  font-size: 2.5rem;
  border-radius: 15px;
  font-family: "Righteous", cursive;
  font-weight: 200;
  text-shadow: 2px 1px 1px #222c2f;
  color: #f1e5e5;
  background-color: #6d2c3b;
  cursor: pointer;
  margin-bottom: 3rem;
}
button:focus {
  outline: none !important;
}

button:active {
  box-shadow: 5px 3px 5px #48515c;
  background-color: #a84159;
  text-shadow: 3px 3px 1px #48515c;
  transform: translateY(5px);
}

.keys {
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item {
  width: 15rem;
  height: 15rem;
  border-radius: 1.7rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 6px rgb(57, 64, 70);
  cursor: pointer;
  opacity: 0.6;
}
@media only screen and (max-width: 600px) {
  .item {
    width: 11rem;
    height: 11rem;
  }
  .keys {
    width: 75%;
  }
  h1 {
    font-size: 3.9rem;
    margin-top: 1rem;
  }
}

.item:active {
  box-shadow: 0px 6px rgba(57, 64, 70, 0);
  transform: translateY(6px);
  opacity: 1;
}
#red {
  background-color: rgb(180, 0, 0);
}

#blue {
  background-color: rgb(0, 73, 147);
}

#green {
  background-color: rgb(0, 128, 0);
}
#yellow {
  background-color: rgb(204, 167, 7);
}
.game-over {
  background-color: rgb(189, 34, 34);
  opacity: 0.8;
}
